<section class="lobby">
    <div class="lobby-container">
        <h1>Chat App</h1>
        <div class="lobby-content">
            <div class="join-content">
                <input type="text" placeholder="Room code" class="join-input">
                <button type="button" class="button button-flex">Join</button>
            </div>
            <div class="create-content">
                <button type="button" class="button button-flex">Create</button>
            </div>
        </div>
    </div>
</section>